.btn {
    display: flex;
    text-decoration: none;
    color: black;
    background-color: rgb(255, 255, 255);
    border-radius: 32px;
    padding: 8px 30px;
    font-size: 20px;
    font-weight: 400;
    transition: 300ms;
}

.btn2 {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: solid 3px rgb(255, 255, 255);
    padding: 5px 27px;
}

.btn:hover {
    transform: scale(1.1);
    background-color: black;
    color: white;
}
