section {
    display: flex;
    justify-content: center;
}

section h1{
    padding: 10px 30px;
    color: white;
}

section video{
    width: 800px;
}

.section-buttons {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    align-items: center;
}

.section-buttons a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
    transition: 300ms;
}

.btn-home {
    background-color: red;
}

.btn-nav {
    display: flex;
    column-gap: 10px;
}

.btn-prev {
    background-color: rgb(123, 75, 255);
}

.btn-next {
    background-color: green;
}

.section-buttons a:hover {
    transform: scale(1.2);
    background-color: rgb(255, 217, 0);
}